@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v49-latin-700.woff2") format("woff2");
}

:root {
  /* Colors */
  --color-base: #131314;
  --color-item: #1e1f20;
  --color-item-hover: #2e2f2f;
  --color-text: #e3e3e3;
  --color-accent: #004a77;
  --color-accent-hover: #0f5682;
  --color-border: #444746;
  --color-link: #2b7cff;

  /* Font Sizes */
  --font-sm: 0.875rem;
  --font-base: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;

  /* Border Radius */
  --rounded-md: 0.75rem;
  --rounded-sm: 0.25rem;
  --rounded-full: calc(infinity * 1px);

  /* Box Shadow */
  --dropdown-shadow:
    rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--color-base);
  color: var(--color-text);
}

main {
  padding: 14px 20px;
}

h1 {
  font-size: var(--font-xl);
  margin-bottom: 20px;
}

h2 {
  font-size: var(--font-lg);
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.small {
  font-size: var(--font-sm);
}

.brand {
  font-size: var(--font-xl);
}

.link-text {
  color: var(--color-link);

  &:hover {
    text-decoration: underline;
  }
}

.button {
  background-color: var(--color-item);
  border-radius: var(--rounded-md);
  cursor: pointer;
  display: block;
  padding: 12px;

  &:hover {
    background-color: var(--color-item-hover);
  }

  &:has(svg):not(.dropdown-toggle) {
    display: flex;
    gap: 10px;
  }

  &.icon {
    padding: 8px;
    border-radius: var(--rounded-full);
  }
}

.dropdown {
  position: relative;
}

.mobile-menu,
.dropdown-menu {
  display: none;

  &.open {
    display: block;
  }
}

.dropdown-menu {
  background-color: var(--color-item);
  border-radius: var(--rounded-sm);
  box-shadow: var(--dropdown-shadow);
  padding-block: 8px;
  position: absolute;
  width: 224px;
  right: 0;
  z-index: 1;

  .menu-item {
    padding-block: 4px;
    border-bottom: 1px solid var(--color-border);
    margin-bottom: 4px;
  }

  .button {
    border-radius: 0;
    padding-block: 4px;
    text-align: left;
    width: 100%;
  }
}

.nav-global {
  background-color: var(--color-item);
  z-index: 2;

  &:has(.mobile-menu.open) {
    position: absolute;
    inset: 0;

    @media (width >= 40rem) {
      position: static;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 20px;
  height: 64px;
}

.nav-list {
  display: none;

  @media (width >= 40rem) {
    display: flex;
    gap: 16px;
  }
}

#mobile-menu-button {
  @media (width >= 40rem) {
    display: none;
  }
}

.mobile-menu {
  padding: 8px 8px 12px;

  li:not(:last-child) {
    margin-bottom: 8px;
  }
}

.menu-item > div {
  padding-inline: 12px;
}
