@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v49-latin-700.woff2") format("woff2");
}

:root {
  /* Colors */
  --color-base: #131314;
  --color-nav: #1b1b1b;
  --color-text: #e3e3e3;
  --color-item: #1e1f20;
  --color-item-hover: #2e2f2f;

  /* Border Radius */
  --rounded: 0.75rem;

  /* Font Sizes */
  --font-base: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  background-color: var(--color-base);
  color: var(--color-text);
}

main {
  padding: 14px 20px;
}

h1 {
  font-size: var(--font-xl);
  margin-bottom: 20px;
}

h2 {
  font-size: var(--font-lg);
  font-weight: 700;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
